<% var pageTitle = "A title for your browser to display" %>
<% include header %>

<h1>This is my ejs file</h1>
<h2><%= title %></h2>
<h4>And here is a number:</h4>
<h4><%= Math.random() %></h4>

<p>Some data I'm passing here to display:</p>

<ul>
<% for (i in data) { %>
	<li><%= data[i].name %></li>
<% } %>
</ul>

<!-- Test including partial and setting a variable passed to it -->
<% var calledAgain = false %>
<%- include footer %>
<% calledAgain = true %>
<%- include footer %>