<% var pageTitle = "A title for your browser to display"; %>
<% var appInfo = { title: "App Title Text", subtitle: "App Subtitle Text", image: "https://pbs.twimg.com/profile_images/551428167760486404/DMyfmQDA.jpeg" }; %>

<%- include header %>

<%- include logo %>

<p>REACHED MAIN!</p>

<% // include body view %>
<% if (body == "default") { %>
	<p>Default body text.</p>
	<p>Body tags in header.ejs (open) & footer.ejs (close).</p>
	<p>The structure of our basic main .ejs template:</p>
	<ol>
		<li>header</li>
		<li>logo</li>
		<li>body</li>
		<li>footer</li>
	</ol>
<% } else if (body == "body-list") { %>
	<%- include body-list %>
<% } else if (body == "jessica") { %>
	<%- include jessica %>
<% } else { %>
	<p>Page not found. No valid template passed into route.</p>
<% } %>

<%- include footer %>